body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    background-color: #000;
}

.header {
    height: 10em;
    padding: 5em;
    font-size: 2em;
    background-image: url("../imgs/banner.jpg");
    background-size: cover;
    background-position: center;
}

.header h1 {
    margin: 0px;
    font-weight: 400;
}

table {
    margin: auto;
}

.products {
    width: 80%;
    margin: auto;
}

.products td {
    width: 50%;
    padding: 2em;
}

.products img {
    width: 100%;
    border: solid 1px #ddd;
}

p {
    color: #f5f5f7;

}

strong {
    color: #f56300;
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: white;
    text-align: center;
    font-weight: 900;

}

.footer p {
    font-size: 14px;
    color: rgb(105, 96, 88);
    background-image: linear-gradient(90deg, #f56772, #ba6bff);
}

.footer a {
    text-decoration: none;
    color: rgb(105, 96, 88);
}

.container {
    text-align: right;
}

@media screen and (max-width: 426px) {

    .footer p {
        font-size: 10px;
    }
}

@media screen and (min-width: 2560px) {
    .footer p {
        font-size: 16px;
    }
}